<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<%= form_with(model: detalle, local: true) do |form| %>
  <% if detalle.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>

  <ul>
  <% detalle.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
    
    <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>
  
  <div class="field">
    <%= form.label :prestamo_id %>
    <%= form.number_field :prestamo_id, value: Prestamo.where("id = #{params[:prestamo_id]}").ids %>
    </div>

    <div class="field">
    <%= form.label :libro_id %>
    <%= form.select :libro_id, options_for_select(Libro.all.map{|s|[s.titulo, s.id]}) %>
    </div>
    
    <div class="actions">
    <%= form.submit %>
    </div>
    <% end %>
</div>