<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Login</th>
      <th>Password</th>
      <th>Email</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombres %></td>
        <td><%= usuario.apellidos %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.email %></td>
        <td><%= link_to 'Show', usuario, :class => "btn btn-info", :style => "color:#fff" %>
        <%= link_to 'Edit', edit_usuario_path(usuario), :class => "btn btn-primary", :style => "color:#fff" %>
        <%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "color:#fff"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path, :class => "btn btn-primary", :style => "color:#fff" %>
</div>