<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<p id="notice"><%= notice %></p>
<h1>Detalles</h1>
<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<p>
  <strong>Year:</strong>
  <%= @libro.year %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro), :class => "btn  btn-primary", :style => "color:#fff" %> |
<%= link_to 'Back', libros_path, :class => "btn  btn-primary", :style => "color:#fff" %>
</div>
